[user]
  email = asiryk.net@gmail.com
  name = asiryk
  signingkey = ~/.ssh/id_ed25519.pub  # Optional but recommended for clarity
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.dotfiles/.global-gitignore
[pull]
  rebase = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  lo = log --oneline -n 20
  last = log -1 head
  db = !git branch | fzf --multi | xargs git branch -D
  st = !git status --porcelain | sed s/^...//
  sb = !git branch | fzf | xargs git switch
  sp = !git status --porcelain | sed s/^...// | fzf --multi | xargs git stash push
  sl = !git stash list --color=always --pretty='%C(yellow)%gd %h %Cgreen%cr %C(reset)%gs'
  update-branch = "!git add -u && git commit --no-verify --allow-empty -m 'tmp' && git switch master && git pull && git switch - && git rebase master && git reset --mixed HEAD~1"

[include]
  path = ~/.dotfiles/git-delta.ini
[core]
  autocrlf = input
[credential]
  helper = osxkeychain
[rerere]
  enabled = true

[includeIf "gitdir:~/Work/"]
  path = ~/.gitconfig-work
[http] # For GitLab
	postBuffer = 157286400
