[user]
  email = asiryk.net@gmail.com
  name = asiryk
[init]
  defaultBranch = main
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  lo = log --oneline -n 20
  last = log -1 head
  db = !git branch | fzf --multi | xargs git branch -D
  st = !git status --porcelain | sed s/^...//
  sb = !git branch | fzf | xargs git switch
  sp = !git status --porcelain | sed s/^...// | fzf --multi | xargs git stash push
  sl = !git stash list --color=always --pretty='%C(yellow)%gd %h %Cgreen%cr %C(reset)%gs'

[include]
  path = ~/.dotfiles/git-delta.ini
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
